* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    height: 70px;
    background-color: gray;
    padding: 10px 0px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.header-content .brand {
    font-size: 32px;
    text-decoration: none;
    color: #fff;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li a {
    display: block;
    color: #fff;
    min-width: 80px;
    /* background-color: blue; */
    padding: 5px;
    margin: 0px 5px;
}
/* **************************Form***************************** */
.section-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    text-align: center;
    background-color: green;
    padding: 20px;
}

.section-form h2 {
    font-size: 50px;
    letter-spacing: 2px;
    color: purple;
}

.section-form form input {
    display: block;
    width: 100%;
    margin: 5px 0px;
    height: 30px;
    border: 1px solid #ddd;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: none;
}

.section-form form input[type="submit"]:hover {
    opacity: .5;
}

nav ul#user_info {
    display: none;
}
/* //////////////////////////////////////////////////// */
.products {
    width: 60%;
    margin: 10px 0px;
}

.product_item {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    /* background-color: green; */
    border: 1px solid #ddd;
    min-height: 150px;
    margin-bottom: 10px;
}

.product_item_img {
    width: 25%;
    margin-right: 10px;
}

.product_item_action {
    flex: 1;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product_item .add_to_cart {
    display: block;
    margin-left: auto;
    background-color: green;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.product_item .fav {
    cursor: pointer;
    display: block;
    width: 20px;
    margin-left: auto;
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
nav ul#user_info li i {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

nav ul#user_info li {
    margin: 0px 10px;
    position: relative;
}

nav ul#user_info li .badge {
    position: absolute;
    top: -8px;
    right: -10px;
    width: 18px;
    height: 18px;
    background-color: red;
    color: #fff;
    text-align: center;
    display: none;
    border-radius: 50%;
    font-size: 13px;
}
/* ////////////////////////////////////////////// */
.cart_products {
    position: absolute;
    width: 210px;
    transform: translate(-40px, 0);
    background-color: #eaeaea;
    top: 60px;
    padding: 10px;
    border: 1px solid green;
    display: none;
}

.cart_products a {
    display: block;
    color: #fff;
    margin: 4px 0px;
    padding: 0;
    background-color: darkgreen;
    text-align: center;
    text-decoration: none;
}